#java specific
*.class

#netbeans ignore personal stuff
nbproject/
build/
build.xml

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Package Files #
*.jar
*.war
*.ear
/dist/
/src/
